{% extends "navbar.html" %}
{% load static %}
{% block content %}
    <h1>Games</h1>

    {% if page_obj.object_list %}
    {% for game in page_obj %}
    <div>
        <h2>
            <a href="{% url 'game_detail' game.igdb_id %}">{{ game.name }}</a>
        </h2>
        {% if game.cover_url %}
            <a href="{% url 'game_detail' game.igdb_id %}">
                <img src="{{ game.cover_url }}">
            </a>
        {% else %}
            <a href="{% url 'game_detail' game.igdb_id %}">
                <p><img src="{% static 'assets/noimage.jpg' %}" style="width: 100px; height: 100px;" alt="No Image Available"></p>
            </a>
        {% endif %}
    </div>
{% endfor %}
    {% else %}
        <p>No games available.</p>
    {% endif %}
    
    <!-- Pagination Controls -->
    {% if page_obj.has_other_pages %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}

    <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
{% endblock %}