{% include 'navbar.html' %}
{% load static %}

{% block content %}

<style>
    h1 {
      color: white;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 300%;
      margin-top: 300px;
    }
    p {
      color: white;
      font-family: courier;
      font-size: 160%;
      margin-top: 20px;
    }
 
    body {
        margin: 0;
        height: 100vh;
        background: 
            linear-gradient(to bottom, transparent 40%, #000000 50%),
            url("{% static 'assets/gamebg.jpg' %}");
        background-size: cover, cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 70%;
        color: white;
        font-family: Arial, sans-serif;
    }
</style>

<div class="center-content">
    <div>
        <h1>Welcome to PlayVault!</h1>
        <p>Track, review, and analyze your favorite games.</p>
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
        {% endif %}
        <p>What is PlayVault?</p>
        <p style="font-family: sans-serif; font-size: 100%;">
        PlayVault lets you organize your game collection online.</p>
        <p style="font-family: sans-serif; font-size: 100%;"> 
        Stay on top of your backlog, rate games you've completed,</p>
        <p style="font-family: sans-serif; font-size: 100%;"> 
        and add upcoming titles to your planning list.</p>
        <p style="font-family: sans-serif; font-size: 100%;">
        Share your gaming experiences to stay updated on their latest sessions.</p>
    </div>
</div>

<img src="{% static 'assets/gamelistdemo.png' %}" alt="Game List Demo" class="w-4 h-6">


{% endblock %}